*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10px */
  /* 1em = 16px */
  font-size: 62.5%;
}
/* 1200px - 9px*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
/* 900 - 8px*/
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
/* 600 - 7px */
@media (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

/* 1800 - 12px*/
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.navbar {
  font-family: "Montserrat", sans-serif;
  height: 7rem;
  margin: 5px 5px 0 5px;
  background-color: rgb(7, 0, 44);
  border-radius: 20px;
  position: relative;
}

.navbar__holder {
  display: inline-block;
}

.navbar__holder.home {
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
}

.navbar__holder.account {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(0, -50%);
}

.underbar-one,
.underbar-two {
  display: inline-block;
}

.underbar-one::before,
.underbar-one::after,
.underbar-two::before,
.underbar-two::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: #e9c069;
}

.underbar-one.solo::before,
.underbar-one.solo::after {
  bottom: 6px;
}

.underbar-one::before,
.underbar-one::after {
  left: 0;
}

.underbar-two::before,
.underbar-two::after {
  left: 38%;
}

.underbar-one:hover::before,
.underbar-one:hover::after {
  width: 29%;
  opacity: 1;
}

.underbar-two:hover::before,
.underbar-two:hover::after {
  left: 38%;
  width: 63%;
  opacity: 1;
}

/* Clears up default button style */
.navbar__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbar__button.logo,
.navbar__button.settings,
.navbar__button.logout,
.navbar__button.login {
  color: white;
}

.navbar__button.logout,
.navbar__button.login {
  margin-right: 2rem;
}

.navbar__button.signup {
  color: white;
  padding: 10px;
  border-radius: 100px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  animation: anime 16s linear infinite;
  transition: all 0.2s;
}

.navbar__button.signup:hover {
  background-size: 100%;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
