.dashboard {
  position: relative;
  height: 87vh;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

.dashboard__header {
  margin: 0 10px;
  position: absolute;
  top: 0px;
  left: 3.5%;
  font-size: 3rem;
  font-weight: 300;
}

.dashboard__header span {
  font-weight: 500;
}

.dashboard__calendar {
  margin: 10px 10px;
  position: absolute;
  top: 5.5%;
  left: 3.5%;
}

.dashboard__calendar--date {
  font-size: 2rem;
}

.dashboard__calendar i {
  font-size: 1.6rem;
  position: absolute;
  top: 16%;
  left: 105%;
  cursor: pointer;
  z-index: 1001;
}

@media (max-width: 600px) {
  .dashboard__calendar i {
    z-index: 1000;
  }
}

.fa-calendar-plus:hover {
  color: teal;
}

.fa-calendar-minus {
  color: red;
}

.calendar__back {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}

.react-calendar {
  width: 350px;
  background: #fbfbfb;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.125em;
  position: absolute;
  top: 26rem;
  left: 44rem;
  transform: translate(-50%, -50%);
  z-index: 1002;
}

@media (max-width: 1200px) {
  .react-calendar {
    width: 330px;
  }
}

@media (max-width: 900px) {
  .react-calendar {
    width: 313px;
  }
}

@media (max-width: 600px) {
  .react-calendar {
    width: 297px;
    top: 45rem;
    left: 49%;
  }
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  border-radius: 10px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation__label {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.react-calendar__navigation__arrow {
  font-size: 3rem;
  font-weight: 400;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  text-decoration: none;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #87cefa;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #58b9f5;
}
.react-calendar__tile--hasActive {
  background: #78ee78;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #90ee90;
}
.react-calendar__tile--active {
  background: #78ee78;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #90ee90;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-calendar abbr {
  text-decoration: none;
}

.consumption {
  position: relative;
  width: 60%;
  height: 79%;
  top: 20%;
  left: 3.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
}

@media (max-width: 600px) {
  .consumption {
    width: 100%;
    left: 0%;
  }
}

.consumption__card {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 49%;
  height: 49%;
  overflow: auto;
  flex-basis: auto;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .consumption__card {
    width: 90%;
    height: 24%;
  }
}

.bkfast {
  background-color: #ffd571;
}

.lunch {
  background-color: #bbd196;
}

.dinner {
  background-color: #56556e;
}

.snacks {
  background-color: #dddddd;
}

.consumption__card--header {
  position: relative;
  top: 4%;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 0 3%;
}

.consumption__card--header span {
  position: absolute;
  cursor: pointer;
  font-size: 3.5rem;
  top: -64%;
  right: 2%;
}

@media (max-width: 600px) {
  .consumption__card--header span {
    top: -50%;
  }
}

.consumption__card--header span:hover {
  color: #ff5656;
}

.consumption__card--table {
  padding: 1rem;
  width: 100%;
}

.consumption__card--row {
  cursor: pointer;
}

.consumption__card--row:hover {
  color: #ff5656;
}

.table__header {
  font-size: 1.5rem;
  text-align: left;
}

.table__header.product {
  width: 65%;
}

.table__header.quantity {
  text-align: center;
}

.table__footer {
  font-size: 1.5rem;
  text-align: left;
}

.table__footer.total {
  width: 65%;
}

.table__cell--quantity {
  text-align: center;
}

.day-total__container {
  position: absolute;
  margin: 10px 10px;
  top: 11%;
  left: 3.5%;
}

.day-total__goal:hover {
  cursor: pointer;
  color: #90ee90;
}

.goal-form {
  position: absolute;
  z-index: 1000;
  background-color: #c3eacf;
  border-radius: 10px;
  padding: 2rem;
}

.goal-form__input {
  display: block;
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 1.2rem 1.3rem;
  margin: 3px 0;
  width: 88%;
  font-family: "Montserrat";
}
