*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10px */
  /* 1em = 16px */
  font-size: 62.5%;
}
/* 1200px - 9px*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
/* 900 - 8px*/
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
/* 600 - 7px */
@media (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

/* 1800 - 12px*/
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  height: 13vh;
  background-color: #fff;
  position: relative;
}

.navbar__holder {
  display: inline-block;
}

.navbar__holder.home {
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
}

.navbar__holder.home.spaced {
  left: 3%;
}

.navbar__holder.account {
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}

.navbar__holder.account.spaced {
  right: 3%;
}
@media (max-width: 600px) {
  .navbar__holder.home {
    top: 50%;
    left: 3%;
  }

  .navbar__holder.account {
    top: 50%;
    right: 3%;
  }
}
.navbar__holder.account .wlc-msg {
  display: inline-block;
  color: white;
  padding: 0 10px;
}

.underbar-one {
  display: inline-block;
}

.underbar-one::before,
.underbar-one::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: #ff5656;
}

.underbar-one:hover::before,
.underbar-one:hover::after {
  width: 79%;
  opacity: 1;
}

.underbar-one.solo::before,
.underbar-one.solo::after {
  bottom: 6px;
}

.underbar-one.solo:hover::before,
.underbar-one.solo:hover::after {
  width: 32%;
}

/* Clears up default button style */
.navbar__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbar__button.logo,
.navbar__button.settings,
.navbar__button.logout,
.navbar__button.login {
  color: black;
}

.navbar__button.logout,
.navbar__button.login {
  margin-right: 2rem;
}

.navbar__button.signup {
  color: white;
  padding: 10px;
  border-radius: 100px;
  background-color: #74a3aa;
  animation: anime 16s linear infinite;
  transition: all 0.2s;
}

.navbar__button.signup:hover {
  transform: translateY(-2px);
}

.navbar__button.signup:active {
  transform: translate(0) scale(0.98);
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar__link {
  position: absolute;
  top: 25%;
  left: 65px;
}

@media (max-width: 600px) {
  .navbar__logo {
    height: 40px;
    width: 40px;
  }

  .navbar__link {
    left: 55px;
  }
}
